<a href="https://colab.research.google.com/github/Natan9939/PythonCourse/blob/main/Air_quality_mini_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clean and wrangle air quality data

The following data file contains data collected at a roadside monitoring station.  You can see the data in a spreadsheet here: https://docs.google.com/spreadsheets/d/1XpAvrpuyMsKDO76EZ3kxuddBOu7cZX1Od4uEts14zco/edit?usp=sharing

The data contains:
* a heading line (Chatham Roadside) which needs to be skipped
* dates which are sometimes left- and sometimes right-justified indicating that they are not formatted as dates, rather they are text (so need to be converted to dates)
* times which are not all in the same format
* Nitrogen Dioxide levels which are, again, text and sometimes contain nodata
* Status which is always the same

### Project - clean, sort and wrangle the data

Read the dataset into a dataframe, skipping the first row   
Convert dates to date format  
Remove rows with nodata in the Nitrogen dioxide column  
Convert the Nitrogen dioxide levels values to float type  
Sort by Nitrogen dioxide level  
Create a new column for 'Weekdays' (use df['Date'].dt.weekday)  
Rename the column Nitrogen dioxide level to NO2 Level (V ug/m2)  
Remove the Status column  

The dataset can be viewed here:  https://drive.google.com/file/d/1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ/view?usp=sharing  and the data accessed here: https://drive.google.com/uc?id=1SOe9b4VJ1FCtDVgZ2T8d00-jTw2Kux1i  This is a .csv file  

**NOTE:** Some useful references are included at the bottom of this spreadsheet.

Use the code cell below to work your code.

In [ ]:
import pandas as pd

airdata2020 = pd.read_csv("https://drive.google.com/uc?id=1SOe9b4VJ1FCtDVgZ2T8d00-jTw2Kux1i", skiprows=1)


def processData(df):

  df['Date']=pd.to_datetime(df['Date'])
  df.drop(df[df["Nitrogen dioxide"] == "nodata"].index, inplace= True)
  df['Nitrogen dioxide'] = df['Nitrogen dioxide'].astype(float)
  df.sort_values(by="Nitrogen dioxide",ascending=False, inplace = True)
  df["Weekdays"] = pd.to_datetime(df['Date']).dt.weekday
  df.rename(columns = {"Nitrogen dioxide":"NO2 Level (V ug/m2)"}, inplace=True)
  df.drop(columns=["Status"], inplace=True)
  return df
airdata2020 = processData(airdata2020)
airdata2020

           Date   Time  NO2 Level (V ug/m2)  Weekdays
470  2020-01-20  15:00            113.06189         0
6209 2020-09-15  18:00             92.13063         1
6206 2020-09-15  15:00             87.96723         1
808  2020-03-02  17:00             87.10202         0
471  2020-01-20  16:00             84.86896         0
...         ...    ...                  ...       ...
8669 2020-12-27   6:00              0.65300         6
5714 2020-08-26   3:00              0.59123         2
4489 2020-06-07   2:00              0.58930         6
5712 2020-08-26   1:00              0.58689         2
8668 2020-12-27   5:00              0.42410         6

[8632 rows x 4 columns]

### Expand the dataset and show summary statistics for larger dataset
---

There is a second data set here covering the year 2021:  https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ  

Concatenate the two datasets to expand it to 2020 and 2021.  

Before you can concatenate the datasets you will need to clean and wrangle the second dataset in the same way as the first.  Use the code cell below.  Give the second dataset a different name. 

After the datasets have been concatenated, group the data by Weekdays and show summary statistics by day of the week.

In [ ]:
import pandas as pd

airdata2020 = pd.read_csv("https://drive.google.com/uc?id=1SOe9b4VJ1FCtDVgZ2T8d00-jTw2Kux1i", skiprows=[0])
airdata2020 = processData(airdata2020)

airdata2021 = pd.read_csv("https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ", skiprows=[0])
airdata2021 = processData(airdata2021)

airdataCombined = pd.concat( [airdata2020, airdata2021], join="inner",ignore_index=True )

airdataCombined = airdataCombined.sort_values(by=["Weekdays"])

print(airdataCombined.groupby(["Weekdays"]).describe())
airdataCombined

         NO2 Level (V ug/m2)                                            \
                       count       mean        std      min        25%
Weekdays
0                     2473.0  18.646198  13.417775  0.65360   8.654540
1                     2430.0  19.386772  13.746323 -0.10519   9.205697
2                     2491.0  20.612752  13.152223 -0.77743  10.425535
3                     2460.0  19.572436  13.280281 -0.31174   9.605360
4                     2501.0  19.447164  12.383304  0.03299  10.171660
5                     2475.0  17.217820  12.096804  1.20392   8.359750
6                     2482.0  15.259131  10.460518 -0.41740   7.615108


                50%        75%        max
Weekdays
0         15.344040  25.321540  113.06189
1         16.198880  25.795870   92.13063
2         17.711880  28.539170   73.40940
3         16.285605  26.319385   76.46283
4         16.550050  26.501650   76.69458
5         14.248040  22.280175   84.55297
6         12.655725  20.331940   76.72297

            Date   Time  NO2 Level (V ug/m2)  Weekdays
0     2020-01-20  15:00            113.06189         0
9834  2021-07-05  06:00             32.75718         0
9823  2021-03-22  12:00             32.89978         0
9821  2021-11-22  23:00             32.92942         0
9803  2021-07-26  19:00             33.06631         0
...          ...    ...                  ...       ...
12760 2021-10-10  23:00             16.42264         6
12761 2021-05-09  23:00             16.41273         6
5337  2020-06-14   2:00             12.02936         6
5336  2020-04-26  19:00             12.03173         6
2097  2020-10-04   2:00             25.10272         6

[17312 rows x 4 columns]

### Helpful references
---
Skipping rows when reading datasets:  
https://www.geeksforgeeks.org/how-to-skip-rows-while-reading-csv-file-using-pandas/  

Converting strings to dates:  
https://www.geeksforgeeks.org/convert-the-column-type-from-string-to-datetime-format-in-pandas-dataframe/

Dropping rows where data has a given value:  
https://www.datasciencemadesimple.com/drop-delete-rows-conditions-python-pandas/  
(see section Drop a row or observation by condition) 

Convert a column of strings to a column of floats:
https://datatofish.com/convert-string-to-float-dataframe/  

Create a new column from data converted in an existing column:  
https://www.geeksforgeeks.org/create-a-new-column-in-pandas-dataframe-based-on-the-existing-columns/  

Rename a column:  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html  

Remove a column by name:  
https://www.kite.com/python/answers/how-to-delete-columns-from-a-pandas-%60dataframe%60-by-column-name-in-python#:~:text=Use%20the%20del%20keyword%20to,the%20name%20column_name%20from%20DataFrame%20.